@charset "EUC-KR";
/* main */
#main {
    box-sizing: border-box;
    padding: 0px 30px 0 30px;

    height: auto;
    background: #FFFFFF;
    /* border: 1px solid #909090; */
    border-bottom: 0;
}

#subTitle .subTitle {
    position: relative;

    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 50px;

    color: #414141;
}

.flex-container2 {
    display: flex;
    flex-direction: column;
}

.inputId {
    display: block;
    width: 360px;

    border: none;
    border-bottom: 1px solid #B5B5B5;
    outline: none; /* 입력 시 테두리 지움*/
    display: block;
    
    font-weight: 500;
    font-size: 14px;
    color: #909090;

    margin-bottom: 25px;
    padding-bottom: 10px;
}

.inputPW {
    display: block;
    width: 360px;

    border: none;
    border-bottom: 1px solid #B5B5B5;
    outline: none; /* 입력 시 테두리 지움*/
    
    font-weight: 500;
    font-size: 14px;
    color: #909090;

    margin-bottom: 25px;
    padding-bottom: 10px;
}

.inputGender {
	display: inline-block;
    width: 60px;

    border: none;
    
    font-weight: 500;
    font-size: 14px;
    color: #909090;

    margin-bottom: 25px;
    padding-bottom: 10px;
}

.Stype {
    display: inline-block;
    width: 80px;
    border: 1px solid #909090;
    border-radius: 2.5px;
    padding: 3px;
    margin-left: 20px;

    font-size: 13px;
    font-weight: 500;
    color: #414141;
}

.inbodyBox {
    display: block;
    width: 360px;

    border: none;
    
    font-weight: 500;
    font-size: 14px;
    color: #909090;

	margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.box {
    display: inline-block;
}

.inputInbody {
    display: inline-block;
    width: 180px;

    border: none;
    border-bottom: 1px solid #B5B5B5;
    outline: none; /* 입력 시 테두리 지움*/
    
    font-weight: 500;
    font-size: 14px;
    color: #909090;

    margin-bottom: 25px;
    padding-bottom: 10px;
}


/* placeholder 폰트 색 변경, 크롬/엣지 둘 다 적용 */
input::placeholder{color: #909090;}
input::-webkit-input-placeholder {color: #909090;}
input::-ms-input-placeholder{color: #909090;}

#register_btn {
    background: linear-gradient(91.36deg, #556B2F -24.31%, #a8eb8b 130.3%);
    box-shadow: 0px -10px 40px rgba(#556B2F, 0.3);
    border-radius: 12px;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;

    width: 370px;
    padding: 12px 0;
    cursor: pointer;
    /* margin: 20px 0 0 -31px; */
}

/* 회원가입*/
.findinfo{
    text-align: center;
    margin: 30px 30px 80px 30px;
    font-size: 11px;
    color: #919191;
}
.signUPTxt {
    color: #919191;
    padding: 0 10px;
    font-weight: 500;
}